@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background: #f0f2f5;
}

._container {
  max-width: 1144px;
  margin: 0 auto;
  padding: 0px 20px;
}
@media (max-width: 1156px) {
  ._container {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

.order__create {
  margin-bottom: 20px;
}

.orderBtn {
  background: #32d47b;
  width: 150px;
  height: 56px;
  color: #ffffff;
  font-size: 16px;
  border-radius: 10px;
}
@media (max-width: 679.98px) {
  .orderBtn {
    width: 100%;
  }
}

.section__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section__title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

.menu__header {
  background: #ffffff !important;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.menu__header img {
  width: 150px;
}

.sidebar__container {
  background: #333a48 !important;
}

.v-toolbar.v-toolbar--density-default.v-theme--light.v-locale--is-ltr.v-app-bar {
  background: #333a48 !important;
  border: none;
}

.sidebar__menu {
  width: 100%;
  margin-top: -2px;
  background: #333a48 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}
.sidebar__menu__logo {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}
.sidebar__menu__logo img {
  width: 40px;
  margin-right: 15px;
}

.logo__body {
  padding: 0 15px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logo__body img {
  width: 50px;
  margin-right: 20px;
}
.logo__body__text {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.list__header {
  padding: 0 20px;
  font-weight: bold;
  margin: 15px 0;
}

.switch__body {
  padding: 0 30px;
  margin-bottom: -10px;
}
.switch__body .v-input__details {
  display: none;
}

.sidebar__link {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  height: 50px;
}
.sidebar__link__icon {
  margin-right: 15px;
}
.sidebar__link__title {
  font-weight: 400;
  margin-left: 19px;
}
.sidebar__link:hover {
  background: #e5e5e5;
  color: #333a48;
}

.sidebar__link.v-list-item {
  color: #ffffff;
}
.sidebar__link.v-list-item:hover {
  color: #333a48;
}

.sidebar__link.router-link-active {
  background: #2176ff;
  color: #ffffff;
}

.v-navigation-drawer__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainContent {
  background: #f0f2f5 !important;
  height: 100%;
}
.mainContent__body {
  padding: 20px;
}

.exit {
  width: 100%;
  cursor: pointer;
  margin-bottom: 10px;
}

#page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#content-wrap {
  padding-bottom: 25px;
}

.footer {
  margin-top: auto;
}

.section__footer {
  background: #eeeeee;
}
.section__footer__content {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.section__footer__content img {
  width: 150px;
}
.section__footer__content p {
  font-size: 20px;
  color: #546a7b;
}
@media (max-width: 479.98px) {
  .section__footer__content p {
    font-size: 14px;
  }
}

.section__login {
  display: flex;
  align-items: center;
  padding: 0 15px;
  min-height: 100vh;
  justify-content: center;
  background: #f0f2f5;
}
.section__login__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1156px;
  width: 100%;
}
@media (max-width: 991.98px) {
  .section__login__content {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 991.98px) {
  .section__login__preview {
    text-align: center;
    margin-bottom: 30px;
  }
}
.section__login__preview__header {
  display: flex;
  align-items: center;
}
@media (max-width: 991.98px) {
  .section__login__preview__header {
    justify-content: center;
  }
}
.section__login__preview img {
  margin-right: 20px;
}
.section__login__preview__title {
  font-size: 45px;
  color: #2176ff;
  font-weight: 700;
}
@media (max-width: 767.98px) {
  .section__login__preview__title {
    font-size: 35px;
  }
}
.section__login__preview__subtitle {
  font-size: 20px;
}
@media (max-width: 767.98px) {
  .section__login__preview__subtitle {
    font-size: 15px;
  }
}

.login__wrapper {
  background: #fff;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}
@media (max-width: 767.98px) {
  .login__wrapper {
    width: 100%;
    padding: 15px;
  }
}

.login__form {
  text-align: center;
}
.login__form__title {
  margin-bottom: 20px;
  font-size: 24px;
}
.login__form .invalid-feedback {
  color: #eb5757;
  margin-bottom: 10px;
}
.login__form .is-invalid {
  border: 1px solid #eb5757;
}
.login__form__item {
  margin-bottom: 10px;
  text-align: left;
}
.login__form__btn {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  color: #ffffff !important;
  background: #2176ff;
}
@media (max-width: 479.98px) {
  .login__form__btn {
    width: 100%;
  }
}

.search__filter {
  display: flex;
  margin-bottom: 30px;
  width: 390px;
}
@media (max-width: 679.98px) {
  .search__filter {
    width: 100%;
  }
}
.search__filter__input {
  width: 390px;
  height: 56px;
  padding: 10px 20px;
  padding-right: 40px;
  background: #fafafa;
  border: 1px solid #8e8d8d;
  border-radius: 5px;
  background-color: #f0f2f5;
  background-image: url("@/assets/search_icon.png");
  background-size: 24px 24px;
  background-position: bottom 50% right 15px;
  background-repeat: no-repeat;
}
.search__filter__input:focus {
  outline: 1px solid #000000;
}
@media (max-width: 679.98px) {
  .search__filter__input {
    width: 100%;
  }
}

.section__bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.section__bottom__params {
  padding: 20px 20px 0 0;
}
.section__bottom__params .selectCount {
  margin-right: 10px;
}

.sorting__container {
  display: flex;
  align-items: center;
}
.sorting__container span {
  font-size: 20px;
}
.sorting__container p {
  margin-right: 10px;
}

.sorting__container.active span {
  transform: rotate(180deg);
  transition: width 2s;
  transition-timing-function: ease-in-out;
}

.section__modal {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
}
.section__modal__header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.section__modal__header .create {
  background: #f79824;
  width: 150px !important;
}
@media (max-width: 479.98px) {
  .section__modal__header .create {
    margin-top: 20px;
    width: 100% !important;
  }
}
.section__modal__header .aprove {
  background: #32d47b;
  width: 150px !important;
}
@media (max-width: 479.98px) {
  .section__modal__header .aprove {
    margin-top: 20px;
    width: 100% !important;
  }
}
.section__modal__header .section__modal__title {
  margin-bottom: 0px;
}
@media (max-width: 479.98px) {
  .section__modal__header {
    justify-content: center;
  }
}
.section__modal__editHeader {
  display: flex;
  justify-content: space-between;
}
.section__modal__title {
  font-size: 20px;
  margin-bottom: 30px;
}
.section__modal__action {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 479.98px) {
  .section__modal__action {
    justify-content: center;
  }
}
.section__modal__action .cancel {
  background: #eb5757;
}
.section__modal__action .aprove {
  background: #32d47b;
}
.section__modal__action .check {
  background: #2176ff;
}
.section__modal__btn.v-btn {
  width: 100px;
  height: 35px;
  font-size: 14px;
  color: #ffffff;
  border-radius: 10px;
  text-transform: none;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0;
}
.section__modal__btn.v-btn:first-child {
  margin-right: 20px;
}
.section__modal__error {
  text-align: center;
  background: rgba(235, 87, 87, 0.3882352941);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
  color: #000000;
}
.section__modal__input {
  margin-bottom: 10px;
}

.client__info {
  margin-bottom: 20px;
}

.order .section__row {
  justify-content: space-around;
}
.order__title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}
.order__item {
  position: relative;
  width: 32%;
  background: #d7d7d7;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}
@media (max-width: 767.98px) {
  .order__item {
    width: 47%;
  }
}
@media (max-width: 529.98px) {
  .order__item {
    width: 100%;
  }
}
.order__item__position {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.order__item__text {
  font-size: 14px;
}
.order__item__icon {
  width: 50px;
}
.order__item__role {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.order__item__role__name {
  margin-left: 10px;
}
.order__item__actions {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.order__delete {
  position: absolute;
  right: 5px;
  top: 5px;
}

.takeOrder.v-btn {
  width: 100px;
  height: 35px;
  font-size: 14px;
  color: #fff;
  border-radius: 10px;
  text-transform: none;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0;
}

.order__link {
  text-decoration: none;
  color: #2176ff;
}

.addCard.v-btn {
  background: #32d47b;
  width: 150px;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  text-transform: none;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0;
}

.workshop__order.v-btn {
  margin-top: 20px;
  width: 100px;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  text-transform: none;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0;
}

.workshop__order.take {
  background: #2176ff;
}

.workshop__order.cancel {
  background: #eb5757;
  margin-right: 10px;
}

.workshop__order.submit {
  background: #32d47b;
}

.bgOrange {
  background: #f79824 !important;
}

.bgRed {
  background: #eb5757 !important;
}

.bgBlue {
  background: #2176ff !important;
}

.bgGreen {
  background: #32d47b !important;
}

.circle__body {
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.position__chip {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.position__chip__item {
  border: 1px solid #2176ff;
  color: #2176ff;
  border-radius: 20px;
  padding: 2px 10px;
  margin: 2px;
}
.position__chip__item:hover {
  background: #eb5757;
  color: #ffffff;
  cursor: pointer;
  border: 1px solid #ffffff;
}

.section__cctv__item {
  width: 49%;
  margin-bottom: 10px;
}
@media (max-width: 667.98px) {
  .section__cctv__item {
    width: 100%;
  }
}
.section__cctv__item img {
  width: 100%;
  height: 300px;
}
@media (max-width: 667.98px) {
  .section__cctv__item img {
    height: auto;
  }
}
.section__cctv__select {
  width: 300px;
  margin-bottom: 30px;
}
@media (max-width: 479.98px) {
  .section__cctv__select {
    width: 100%;
  }
}

.section__video {
  max-width: 500px;
  margin: 0 auto;
}
.section__video__title {
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
.section__video__stream {
  border-radius: 20px;
  width: 100%;
  margin: 0 auto;
}
.section__video__stream video {
  width: 100%;
}
.section__video__stream img {
  width: 100%;
}
.section__video__actions {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.section__video__actions__btn.v-btn {
  margin-top: 20px;
  width: 150px;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  text-transform: none;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0;
}
.section__video__actions .aprove.v-btn {
  background: #2176ff;
}
.section__video__actions .check.v-btn {
  background: #f79824;
}
.section__video__actions .finish.v-btn {
  background: #32d47b;
}
.section__video .wrapper {
  border-radius: 20px;
  width: 100%;
  min-height: 375px;
  background: #e5e5e5;
}
.section__video .wrapper__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__video .wrapper__title {
  text-align: center;
  font-size: 24px;
  color: #ffffff;
}
.section__video .wrapper__icon {
  width: 32px;
  border: 2px solid #f79824;
  border-radius: 50%;
  margin-bottom: 10px;
}
.section__video .wrapper.entrance {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #32d47b;
}
.section__video .wrapper.exit {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eb5757;
}

.regme__img {
  width: 150px;
}
.regme__img img {
  width: 100%;
}

.section__statistics__item {
  width: 24%;
  background: #e5e5e5;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
.section__statistics__item__title {
  font-size: 20px;
  font-weight: 500;
}
.section__statistics__item .mdi {
  font-size: 100px;
}
.section__statistics__item__text {
  font-size: 16px;
  font-weight: 700;
}

.section__statistics__date__input {
  border: 1px solid #e5e5e5;
  margin-bottom: 30px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
}

.v-data-table__th {
  background: rgb(238, 236, 236) !important;
}

.section__comments {
  margin-top: 50px;
  margin-bottom: 30px;
}
.section__comments__title {
  font-size: 30px;
  font-weight: 600;
}
@media (max-width: 479.98px) {
  .section__comments__title {
    font-size: 14px;
  }
}
.section__comments__add {
  margin: 20px 0;
}
.section__comments__add__action.v-btn {
  background: #32d47b;
  width: 150px;
  font-size: 16px;
  color: #ffffff;
  border-radius: 4px;
  text-transform: none;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0;
}
.section__comments__item {
  margin-top: 20px;
}
.section__comments__item__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 18px;
}
@media (max-width: 479.98px) {
  .section__comments__item__header {
    font-size: 14px;
  }
}
.section__comments__item__header__user {
  display: flex;
}
.section__comments__item__name {
  margin-right: 10px;
  font-weight: 500;
  color: #2176ff;
}
.section__comments__item__position {
  font-weight: 500;
  margin-right: 3px;
}
.section__comments__item__time {
  font-size: 14px;
  color: #756c6c;
}
.section__comments__item__comment {
  margin-top: 10px;
  background: rgba(61, 232, 31, 0.253);
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
  line-height: 18px;
  position: relative;
  word-break: break-all;
  width: 100%;
}
.section__comments__item__comment__text {
  width: calc(100% - 25px);
}
@media (max-width: 479.98px) {
  .section__comments__item__comment {
    font-size: 14px;
  }
}
.section__comments__item__comment__close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */