@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background: #f0f2f5;
}

$orange: #f79824;
$blue: #2176ff;
$green: #32d47b;
$white: #ffffff;
$grey: #e5e5e5;
$red: #eb5757;
$black: #333a48;

// Переменные для блока
$minWidth: 320px;
$maxWidth: 1152px;
$maxWidthCon: 1144px;
$md1: $maxWidthCon + 12;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
// Основная сетка
._container {
  max-width: $maxWidthCon;
  margin: 0 auto;
  padding: 0px 20px;

  @media (max-width: $md1) {
    max-width: 970px;
  }
  @media (max-width: $md2) {
    max-width: 750px;
  }
  @media (max-width: $md3) {
    max-width: none;
    padding: 0 10px;
  }
}

.order__create {
  margin-bottom: 20px;
}

.orderBtn {
  background: $green;
  width: 150px;
  height: 56px;
  color: $white;
  font-size: 16px;
  border-radius: 10px;
  @media (max-width: 679.98px) {
    width: 100%;
  }
}

.section__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section__title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}
.menu__header {
  background: #ffffff !important;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  img {
    width: 150px;
  }
}

.sidebar__container {
  background: $black !important;
}

header {
  background: $black !important;
  border: none;
}
.sidebar__menu {
  width: 100%;
  margin-top: -2px;
  background: $black !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  &__logo {
    display: flex;
    align-items: center;
    img {
      width: 40px;
      margin-right: 15px;
    }
    color: $white;
    font-size: 20px;
    font-weight: 600;
  }
}

.logo__body {
  padding: 0 15px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  img {
    width: 50px;
    margin-right: 20px;
  }
  &__text {
    color: $white;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.list__header {
  padding: 0 20px;
  font-weight: bold;
  margin: 15px 0;
}

.switch__body {
  padding: 0 30px;
  margin-bottom: -10px;
  .v-input__details {
    display: none;
  }
}

.sidebar__link {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: $white;
  text-decoration: none;
  border-radius: 5px;
  height: 50px;
  &__icon {
    margin-right: 15px;
  }
  &__title {
    font-weight: 400;
    margin-left: 19px;
  }
  &:hover {
    background: $grey;
    color: $black;
  }
}

.sidebar__link.v-list-item {
  color: $white;
  &:hover {
    color: $black;
  }
}

.sidebar__link.router-link-active {
  background: $blue;
  color: $white;
}

.v-navigation-drawer__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainContent {
  background: #f0f2f5;

  height: 100%;
  &__body {
    padding: 20px;
  }
}

.exit {
  width: calc(100% - 20px);
  margin: 10px;
  bottom: 0;
  cursor: pointer;
}

#page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#content-wrap {
  padding-bottom: 25px;
}

.footer {
  margin-top: auto;
}

.section__footer {
  background: #eeeeee;
  &__content {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    img {
      width: 150px;
    }
    p {
      font-size: 20px;
      color: #546a7b;
      @media (max-width: $md4) {
        font-size: 14px;
      }
    }
  }
}

.section__login {
  display: flex;
  align-items: center;
  padding: 0 15px;
  min-height: 100vh;
  justify-content: center;
  background: #f0f2f5;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: $md1;
    width: 100%;
    @media (max-width: $md2) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__preview {
    @media (max-width: $md2) {
      text-align: center;
      margin-bottom: 30px;
    }
    &__header {
      display: flex;
      align-items: center;
      @media (max-width: $md2) {
        justify-content: center;
      }
    }
    img {
      margin-right: 20px;
    }
    &__title {
      font-size: 45px;
      color: $blue;
      font-weight: 700;
      @media (max-width: $md3) {
        font-size: 35px;
      }
    }
    &__subtitle {
      font-size: 20px;
      @media (max-width: $md3) {
        font-size: 15px;
      }
    }
  }
}

.login__wrapper {
  background: #fff;
  border-radius: 8px;
  padding: 30px;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 8px 16px rgba(0, 0, 0, 0.1);
  max-width: 400px;

  @media (max-width: $md3) {
    width: 100%;
    padding: 15px;
  }
}

.login__form {
  text-align: center;
  &__title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .invalid-feedback {
    color: #eb5757;
    margin-bottom: 10px;
  }
  .is-invalid {
    border: 1px solid #eb5757;
  }
  &__item {
    margin-bottom: 10px;
    text-align: left;
  }
  &__btn {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    color: #ffffff !important;
    background: #2176ff;
    @media (max-width: $md4) {
      width: 100%;
    }
  }
}

.search__filter {
  display: flex;
  margin-bottom: 30px;
  width: 390px;
  @media (max-width: 679.98px) {
    width: 100%;
  }
  &__input {
    width: 390px;
    height: 56px;
    padding: 10px 20px;
    padding-right: 40px;
    background: #fafafa;
    border: 1px solid #8e8d8d;
    border-radius: 5px;
    background-color: #f0f2f5;
    background-image: url('@/assets/search_icon.png');
    background-size: 24px 24px;
    background-position: bottom 50% right 15px;
    background-repeat: no-repeat;
    &:focus {
      outline: 1px solid #000000;
    }
    @media (max-width: 679.98px) {
      width: 100%;
    }
  }
}

.section__bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &__params {
    padding: 20px 20px 0 0;
    .selectCount {
      margin-right: 10px;
    }
  }
}

.sorting__container {
  display: flex;
  align-items: center;

  span {
    font-size: 20px;
  }
  p {
    margin-right: 10px;
  }
}

.sorting__container.active {
  span {
    transform: rotate(180deg);
    transition: width 2s;
    transition-timing-function: ease-in-out;
  }
}

.section__modal {
  background: $white;
  border-radius: 10px;
  padding: 20px;
  &__header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .create {
      background: $orange;
      width: 150px !important;
      @media (max-width: $md4) {
        margin-top: 20px;
        width: 100% !important;
      }
    }
    .aprove {
      background: $green;
      width: 150px !important;
      @media (max-width: $md4) {
        margin-top: 20px;
        width: 100% !important;
      }
    }
    .section__modal__title {
      margin-bottom: 0px;
    }
    @media (max-width: $md4) {
      justify-content: center;
    }
  }

  &__editHeader {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font-size: 20px;
    margin-bottom: 30px;
  }
  &__action {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    @media (max-width: $md4) {
      justify-content: center;
    }
    .cancel {
      background: $red;
    }
    .aprove {
      background: $green;
    }
    .check {
      background: $blue;
    }
  }

  &__btn.v-btn {
    width: 100px;
    height: 35px;
    font-size: 14px;
    color: $white;
    border-radius: 10px;
    text-transform: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
    &:first-child {
      margin-right: 20px;
    }
  }

  &__error {
    text-align: center;
    background: #eb575763;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
    color: #000000;
  }
  &__input {
    margin-bottom: 10px;
  }
}

.client__info {
  margin-bottom: 20px;
}

.order {
  .section__row {
    justify-content: space-around;
  }
  &__title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  &__item {
    position: relative;
    width: 32%;
    background: #d7d7d7;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    @media (max-width: $md3) {
      width: 47%;
    }
    @media (max-width: ($md4 + 50px)) {
      width: 100%;
    }
    &__position {
      font-size: 20px;
      font-weight: 600;
      text-transform: capitalize;
      margin-bottom: 10px;
    }
    &__text {
      font-size: 14px;
    }
    &__icon {
      width: 50px;
    }
    &__role {
      margin-top: 20px;
      display: flex;
      align-items: center;
      &__name {
        margin-left: 10px;
      }
    }

    &__actions {
      margin-top: 10px;
      display: flex;
      justify-content: flex-end;
    }
  }

  &__delete {
    position: absolute;
    right: 5px;
    top: 5px;
  }
}

.takeOrder.v-btn {
  width: 100px;
  height: 35px;
  font-size: 14px;
  color: #fff;
  border-radius: 10px;
  text-transform: none;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0;
}

.order__link {
  text-decoration: none;
  color: $blue;
}

.addCard.v-btn {
  background: $green;
  width: 150px;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  text-transform: none;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0;
}

.workshop__order.v-btn {
  margin-top: 20px;
  width: 100px;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  text-transform: none;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0;
}
.workshop__order.take {
  background: $blue;
}
.workshop__order.cancel {
  background: $red;
  margin-right: 10px;
}

.workshop__order.submit {
  background: $green;
}

.bgOrange {
  background: $orange !important;
}
.bgRed {
  background: $red !important;
}

.bgBlue {
  background: $blue !important;
}

.bgGreen {
  background: $green !important;
}

.circle__body {
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.position__chip {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.position__chip__item {
  border: 1px solid $blue;
  color: $blue;
  border-radius: 20px;
  padding: 2px 10px;
  margin: 2px;
  &:hover {
    background: $red;
    color: $white;
    cursor: pointer;
    border: 1px solid $white;
  }
}

.section__cctv {
  &__item {
    width: 49%;
    margin-bottom: 10px;
    @media (max-width: ($md3 - 100px)) {
      width: 100%;
    }
    img {
      width: 100%;
      height: 300px;
      @media (max-width: ($md3 - 100px)) {
        height: auto;
      }
    }
  }
  &__select {
    width: 300px;
    margin-bottom: 30px;
    @media (max-width: ($md4)) {
      width: 100%;
    }
  }
}

.section__video {
  max-width: 500px;
  margin: 0 auto;
  &__title {
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }
  &__stream {
    border-radius: 20px;
    width: 100%;
    margin: 0 auto;
    video {
      width: 100%;
    }
    img {
      width: 100%;
    }
  }
  &__actions {
    width: 100%;
    display: flex;
    justify-content: space-around;
    &__btn.v-btn {
      margin-top: 20px;
      width: 150px;
      font-size: 16px;
      color: #fff;
      border-radius: 4px;
      text-transform: none;
      font-family: 'Roboto', sans-serif;
      letter-spacing: 0;
    }
    .aprove.v-btn {
      background: $blue;
    }
    .check.v-btn {
      background: $orange;
    }
    .finish.v-btn {
      background: $green;
    }
  }
  .wrapper {
    border-radius: 20px;
    width: 100%;
    min-height: 375px;
    background: $grey;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__title {
      text-align: center;
      font-size: 24px;
      color: $white;
    }
    &__icon {
      width: 32px;
      border: 2px solid $orange;
      border-radius: 50%;
      margin-bottom: 10px;
    }
  }

  .wrapper.entrance {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $green;
  }

  .wrapper.exit {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $red;
  }
}

.regme__img {
  width: 150px;
  img {
    width: 100%;
  }
}

.section__statistics {
  &__title {
  }
  &__item {
    width: 24%;
    background: $grey;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    &__title {
      font-size: 20px;
      font-weight: 500;
    }
    &__img {
    }
    .mdi {
      font-size: 100px;
    }
    &__text {
      font-size: 16px;
      font-weight: 700;
    }
  }
}

.section__statistics__date__input {
  border: 1px solid $grey;
  margin-bottom: 30px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
}

.v-data-table__th {
  background: rgb(238, 236, 236) !important;
}
.v-table__wrapper {
  // border-top-left-radius: 10px !important;
  // border-top-right-radius: 10px !important;
}
